@import "null.scss";

@mixin flexible () {
  display: flex;
  justify-content: center;
  align-items: center;
  }

@mixin absolute-centering() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.wrapper {
  width: 600px;
  height: 100vh;
  margin: 0 auto;
}

.slider-block {
  background-color: rgb(185, 185, 171);
  padding: 20px;
}

.slider {
  width: 400px;
  margin: 0 auto;
  height: 5px;
  border: 1px solid black;
  position: relative;
}

.pointer {
  position: absolute;
  top: -4px;
  left: 0px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}


.gallery-block {
  width: 600px;
  height: 400px;
  display: flex;
  .left-arrow,
  .right-arrow {
    width: 100px;
    height: 50px;
    align-self: center;
  }
  .image {
    width: 400px;
  }
  img {
    display: block;
    width: 100px;
    height: 100%;
  }
  .left-arrow {
    background-color: rgb(90, 173, 57);
  }
  .right-arrow {
    background-color: rgb(90, 173, 57);
  }
  .inactive {
    background-color: red;
  }
}


.accordion-block {
  width: 100%;
  padding: 15px;
  background-color: rgb(219, 218, 206);
  .accordion-name {
    font-size: 24px;
    background-color: rgb(186, 235, 114);
    border: 1px solid black;
    padding: 5px;
  }
  .d-none {
    display: none;
  }
}

.news-block {
  padding: 10px;
  background-color: rgb(186, 235, 114);
  font-size: 18px;
  p:not(:last-child){
    padding-bottom: 10px;
  }
}